# macOS
.DS_Store

# Xcode
## User settings
xcuserdata/
*.xcuserstate

## Build/derived
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# Uncomment to ignore resolved dependency versions
# (keep it tracked for apps, ignore it for libraries — your call)
# Package.resolved
